.editable-input {
    background: transparent;
    border: none;
    padding: 0.5em;
    font-size: 1.25em;
}

.editable-input:enabled {
    border-bottom: 2px solid;
    border-color:darkslategray;
}

.editable-input:disabled {
    color: black;
}

.editable-div {
    display: flex;
    margin-right: 2em;
    margin-left: 2em;
    justify-content: space-between;
}