.lane {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border-color: lightskyblue;
    border-radius: 0.5em;
    border-style: solid;
    height: 100vh;
    min-width: 300px;
}

.delete-btn {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding: 0.25em;
    margin: 0.25em;
    text-align: center;
    max-width: 2em;
    max-height: 2em;
    font-weight: 600;
}

.delete-btn:hover {
    border-radius: 1em;
    background-color: #dddddd;
}

.lane-name {
    margin: 0.25em;
}
/* 
.card-holder {
    margin-left: 1em;
    margin-right: 1em;
} */