.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-item {
    cursor: pointer;
}

.editable {
    display: flex;
    justify-content: space-between;
}

.editable > input:focus {
    outline: none;
    border-bottom: 1px solid #9c9c9c
}

.editable:hover {
    box-shadow: 3px 3px 10px rgba(103, 58, 183, 0.1);
}

.editable i {
    padding-right: 6px;
}

.flex-container {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
}

.icon {
    cursor: pointer;
    opacity: 0.65;
    vertical-align: bottom;
}

.lanes {
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    white-space: nowrap;
}

.lane {
    margin-left: 0.75em;
    margin-right: 0.75em;
    min-width: 20em;
}

.lane-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.margin-bottom {
    margin-bottom: 48px;
}

.todo {
    display: flex;
    align-items: center;
}

.input {
    padding: 4px;
}
