.editable {
    display: flex;
    justify-content: space-between;
}

.icon {
    cursor: pointer;
}

.lanes {
    display: flex;
    justify-content: flex-start;

}

.lane {
    margin-left: 0.75em;
    margin-right: 0.75em;
}